<!-- Gallery -->
<section class="wrapper style1 align-center" {{ with .id }} id="{{ . }}"{{ end }}>
    <div class="inner">
        <h2>{{ .title }}</h2>
        <p>{{ .content | safeHTML }}</p>
    </div>

    <!-- Gallery -->
    <div class="gallery {{ .style }}">
        {{ range .pictures }}
            {{ partial "picture" . }}
        {{ end }}
    </div>
    <!-- <section class="banner style2 orient-center fullscreen">
        <div class="image" id="banner_image">
            <img src= "images/my_gallery/headshots/9315_Websize.jpg" alt="" />
        </div>
    </section> -->
    
</section>