<section class="wrapper style1 align-center"{{ with .id }} id="{{ . }}"{{ end }}>
    <div class="inner">
        <!-- <h2>Acting Reel</h2> -->
        {{ with .title }}<h2 style="margin-bottom:50px;">{{ . }}</h2>{{ end }}
        <p class="reel_text">
            The video below includes: "Worms" by Beth Hyland (dir: Behzad Dabu, DP: Keith Nixon), "Dinner for Two" by Mylan Grey (dir: Behzad Dabu, DP: Keith Nixon), 
            "108" by Diana Khong (dir. Diana Khong, DP: Anqi Yu, Derwin Hernandez) and a monologue from "Lines" by Katie Dragone.
            For any additional materials, please contact Maia via <a href="#contact">email</a>.
            <!-- The video below includes Kayleen's monologue from <i>Gruesome Playground</i> by Rajiv Joseph, 
            Pauline's monologue from <i>A Bright New Boise</i> by Samuel Hunter, and
            16 bars of <i>Cut, Print... Moving On</i> by Marc Shaiman and Scott Wittman (from musical TV Show <i>SMASH</i>). 
            For any additional materials, please contact Maia via <a href="#contact">email</a>. -->
        </p>
        <div class="index align-left">

            <!-- Text -->
                <section>
                    <div class="video-wrapper">
                        <iframe
                            src="https://youtu.be/Z4sMZn4D4So"

                            title="YouTube video player" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                            allowfullscreen>
                        </iframe>
                    </div>
                    <!-- "https://www.youtube.com/embed/FfwNyb3ZhQI"  -->
                    <!-- <div class="video-container">
                        <iframe 
                            src="https://www.youtube.com/embed/dQw4w9WgXcQ" 
                            frameborder="0" 
                            allowfullscreen>
                        </iframe>
                    </div> -->
                    <!-- <header>
                        <h3>Text</h3>
                    </header>
                    <div class="content">

                        <p>This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is <em>emphasized</em>.
                        This is <sup>superscript</sup> text and this is <sub>subscript</sub> text.
                        This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>.
                        Finally, this is a <a href="#">link</a>.</p>

                    </div> -->
                </section>
</section>
                