{{ define "main" }}

	{{ partial "banner" site.Data.banner }}
	{{ partial "about" site.Data.about }}
	<!-- {{ partial "spotlight" site.Data.spotlight1 }} -->
	{{ partial "spotlight" site.Data.spotlight2 }}
	<!-- {{ partial "spotlight-02-right" site.Data.spotlight2 }} -->
	{{ partial "spotlight-03-left" site.Data.spotlight3 }}
	{{ partial "gallery" site.Data.gallery }}
	{{partial "reels" site.Data.reels}}
	{{ partial "items" site.Data.items }}
	<!-- Projects -->
	{{ partial "projects_popup" site.Data.projects.ofs}}
	{{ partial "projects_popup" site.Data.projects.rogues_trial}}
	{{ partial "projects_popup" site.Data.projects.nerve_endings}}
	{{ partial "projects_popup" site.Data.projects.dirty_martini}}
	{{ partial "projects_popup" site.Data.projects.vinegar_tom}}
	{{ partial "projects_popup" site.Data.projects.snow}}
	{{ partial "projects_popup" site.Data.projects.cancelina}}
	{{ partial "projects_popup" site.Data.projects.everybody}}
	{{ partial "projects_popup" site.Data.projects.peerless}}
	<!-- {{ partial "projects_popup" site.Data.projects.CoE}} -->

	{{ partial "contact" site.Data.contact }}
	<!-- {{ partial "elements" . }}
	{{ partial "elements_reference" . }} -->
	{{ partial "footer" . }}

{{ end }}